
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_ProductsLayout.cshtml";
}


<h2>Login</h2>
<form>
    <p><input type="text" placeholder="Username" /></p>
    <input type="text" placeholder="Passwod" />
</form>
<br />
<a href="/ProfileDashBoard/ProductsProfile" class="btn btn-success">Submit</a>