
@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_ProductsLayout.cshtml";
}

<h2 class="text-center">Available Products</h2>
<ul class="text-center">
    <li>Ice-cream</li>
    <li>Chocolate</li>
    <li>Chips</li>
</ul>
