<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div>
        <div class="text-center">
            <a class="btn btn-success" href="/Page/Index">Index</a>
            <a class="btn btn-success" href="/Page/FirstPage">1st Style</a>
            <a class="btn btn-danger" href="/Page/SecondPage">2nd Style</a>
            <a class="btn btn-warning" href="/Page/ThirdPage">3rd style</a>
        </div>
        @RenderBody()
        <div class="text-center">
            Copyright @@ ASP.NET @DateTime.Now.Year
        </div>
    </div>
</body>
</html>

