<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div>
        <div>
            <a class="btn btn-success" href="/Profiledashboard/Profile">Products Profile</a>
            <a class="btn btn-warning" href="/Profiledashboard/Logout">Logout</a>
        </div>
        @RenderBody()
        <div>
            Copyright @@ ASP.NET @DateTime.Now.Year
        </div>
    </div>
</body>
</html>


