
@{
    ViewBag.Title = "ProductsProfile";
    Layout = "~/Views/Shared/_ProfileLayout.cshtml";
}

<h2>Product List</h2>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
    </tr>
    

</table>

