
@{
    ViewBag.Title = "MyProfile";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}


<h2> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Create your project</h2>
<form>
    <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" placeholder="Project Title" /></p>
    <form action="/action_page.php">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label for="Language">Choose a language:</label>
        <select name="cars" id="cars">
            <option value="PHP">PHP</option>
            <option value="C++">C++</option>
            <option value="C#">C#</option>
            <option value="Visual Basic">Visual Basic</option>
        </select>
    </form>
</form>
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/DashboardProfile/MyProfile" class="btn btn-info">Create</a>
<br />
<br />

