
@{
    ViewBag.Title = "Education";
}
<br />
<a href="/Profile/Home/"> Home </a> &nbsp
<a href="/Profile/Education/"> Education </a> &nbsp
<a href="/Profile/Projects/"> Projects </a> &nbsp
<a href="/Profile/References/"> References </a>
<br/>
<h2>Education</h2>
<ul>
    <li>
        <h3> BSc </h3>
        <h4> Dept: Computer Science and Engineering </h4>
        <h4> Institute: American International University-Bangladesh</h4>
        <h4> Year: 2020 - Running </h4>
    </li>
    <li>
        <h3> HSC </h3>
        <h4> Institute: Jatir Janak Bangabandhu Sheikh Mujibur Rahman Govt. College</h4>
        <h4> Passing year: 2019 </h4>
        <h4> Group: Science </h4>
    </li>
    <li>
        <h3> SSC </h3>
        <h4> Institute: Civil Aviation High Schools</h4>
        <h4> Passing year: 2017 </h4>
        <h4> Group: Science </h4>
    </li>
</ul>
