
@{
    ViewBag.Title = "MyProfile";
}
<br/>
<a href="/Profile/Home/"> Home </a> &nbsp
<a href="/Profile/Education/"> Education </a> &nbsp
<a href="/Profile/Projects/"> Projects </a> &nbsp
<a href="/Profile/References/"> References </a>

<h2>My Profile</h2>

<h5>Click on the top to Know about me!!!</h5>

