
@{
    ViewBag.Title = "References";
}
<br />
<a href="/Profile/Home/"> Home </a> &nbsp
<a href="/Profile/Education/"> Education </a> &nbsp
<a href="/Profile/Projects/"> Projects </a> &nbsp
<a href="/Profile/References/"> References </a>
<br />
<h2>References</h2>

<h3><b>Nazmus Sakib Shan</b></h3>
<h4>Lecturer, Computer Science</h4>
<h4>American International University-Bangladesh</h4>
<h4> <a href="/Profile/References/">Email: shan@aiub.edu</a></h4>

<h3><b>MD. Al-Amin</b></h3>
<h4>Lecturer, Computer Science</h4>
<h4>American International University-Bangladesh</h4>
<h4><a href="/Profile/References/">Email: alamin@aiub.edu</a></h4>

