
@{
    ViewBag.Title = "Contact";
}
<br />
<a href="\BasicProfile\Home"> Home </a> &nbsp
<a href="\BasicProfile\About"> About </a> &nbsp
<a href="\BasicProfile\Login"> Login </a> &nbsp
<a href="\BasicProfile\signup"> Sign Up </a> &nbsp
<br />
<h2>Contact</h2>
<h4>Visit .NET Website!</h4>
<a href="\BasicProfile\Contact">https://dotnet.microsoft.com/en-us/apps/aspnet</a>

