
@{
    ViewBag.Title = "Home";
}
<br />
<a href="\BasicProfile\About"> About </a> &nbsp
<a href="\BasicProfile\Contact"> Contact </a> &nbsp
<a href="\BasicProfile\Login"> Login </a> &nbsp
<a href="\BasicProfile\signup"> Sign Up </a> &nbsp
<br/>
<h2>This is home of .NET</h2>

