
@{
    ViewBag.Title = "Login";
}
<br />
<a href="/BasicProfile/Home"> Home </a> &nbsp
<a href="/BasicProfile/About"> About </a> &nbsp
<a href="/BasicProfile/Contact"> Contact </a> &nbsp
<a href="/BasicProfile/signup"> Sign Up </a> &nbsp
<br />
<h2>Login</h2>
<form>
    <p><input type="text" placeholder="Username" /></p>
    <input type="text" placeholder="Passwod" />
</form>
<br/>
<a href="/DashboardProfile/MyProfile" class="btn btn-success">Login</a>

