
@{
    ViewBag.Title = "signup";
}
<br />
<a href="\BasicProfile\Home"> Home </a> &nbsp
<a href="\BasicProfile\About"> About </a> &nbsp
<a href="\BasicProfile\Contact"> Contact </a> &nbsp
<a href="\BasicProfile\Login"> Login </a> &nbsp
<br />

<h2>signup</h2>
<form>
    <p><input type="text" placeholder="Username" /></p>
    <p><input type="text" placeholder="Email" /></p>
    <p><input type="text" placeholder="Password" /></p>
    <input type="text" placeholder="Confirm Passwod" />
</form>
<br />
<a href="" class="btn btn-primary">Sign Up</a>

