
@{
    ViewBag.Title = "FirstPage";
    Layout = "~/Views/Shared/_IndexLayout.cshtml";
}

<h2 class="text-center"><b>Books of Humayun Ahmed</b></h2>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th scope="col">Sl no.</th>
            <th scope="col">Title</th>
            <th scope="col">Genre</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Nabani</td>
            <td>Romantic</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Deyal</td>
            <td>Drama, History</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Misir Ali</td>
            <td>Mystery</td>
        </tr>
    </tbody>
</table>

