
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_IndexLayout.cshtml";
}

<h2 class="text-center">Index</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">Sl no.</th>
            <th scope="col">Page</th>
            <th scope="col">Table Name</th>
            <th scope="col">Styles</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>1st Page</td>
            <td>Books of Humayun Ahmed</td>
            <td>table-striped</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>2nd Page</td>
            <td>Books of Sadat Hossain</td>
            <td>bg-colors</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>

