
@{
    ViewBag.Title = "SecondPage";
    Layout = "~/Views/Shared/_IndexLayout.cshtml";
}

<h2 class="text-center">Books of Sadat Hossain</h2>
<table class="table table-bordered">
    <thead>
        <tr class="bg-primary">
            <th scope="col">Sl no.</th>
            <th scope="col">Title</th>
            <th scope="col">Genre</th>
        </tr>
    </thead>
    <tbody>
        <tr class="bg-danger">
            <th scope="row">1</th>
            <td>Ardhobritto</td>
            <td>Crime, Mystery</td>
        </tr>
        <tr class="bg-success">
            <th scope="row">2</th>
            <td>Andarmahal</td>
            <td>Drama</td>
        </tr>
        <tr class="bg-info">
            <th scope="row">3</th>
            <td>Arshinagar</td>
            <td>Drama</td>
        </tr>
    </tbody>
</table>


